.homepage {
    background: linear-gradient(101deg, white 80%, #fefefe 20%);
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:9999;
    background-color:#e0e5e9;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links {
    flex-basis: 25%;
    text-align: center;
   
}


.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 40%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

.nav-links a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color:#0a62d0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
}

.nav-links a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
  .navbar li ul.dropdown {
    display: none;
    position: absolute;
    left: 50;
    background-color: #e0e5e9;
    padding: 0;
  }
  .navbar li:hover ul.dropdown {
    display: block;
    box-shadow: #f56f5a;
  }
  .navbar li ul.dropdown li {
    display: block;
    margin-bottom: 5%;
  }
  .navbar li ul.dropdown li a {
    padding: 0px;
    color:black;
  }
 /*drop down for papers start*/ 
 .dropdown-trigger {
  display:inline-table;
  cursor: pointer;
}
.toggle-checkbox {
  display: none;
}
.menu {
  display:none;
  list-style: none;
  padding: 0;
}
.toggle-checkbox:checked + .menu {
  display: block;
}
/*drop down for papers end*/
.text {
    margin-left: 20px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.image {
    margin-right: 20px;
    margin-top: -150px;
  background-color: beige;
}

.image img {
    max-width: 40%;
    height: auto;
    float: right;
}

.logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.logo-text-black {
    color: black;
    font-style: normal;
}
.logo-text-orange {
    color: #0a62d0;
    font-style: normal;
}
.container {
    display:block;
    justify-content: center;
    align-items: center;
   width: 100%;
   margin-left: 25%;
  }
  .form-container {
    width: 50%;
    margin: 0 3px;
  }
  body{
    width: 100%;
    background-color:white;
    text-align: left;
  }
  form {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 5px;
  }
  /* Additional styles for the floating effect */
.floating-button {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 1000;
}
/*floating effect enr*/
  
  h1 {
    text-align: left;
    color: #0a62d0;
  }
  h2{
    color: brown;
  }
  p{
    text-align: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="numbers"],
  input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #0a62d0;
  }
  
  button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #2f2f2f;
    color: white;
    border: 1px solid #0a62d0;
    border-radius: 3px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #343434;
  }
  label:hover{
    color: blue;
  }
  footer{
    text-align: center;
    background-color: #e0e5e9;
    border-radius: 5px;
}
